P, summary {
color:#343a40;

}
.navbar-light .navbar-nav .nav-link{
color: rgba(0,0,0,0.5)
}

#title{
text-align:center;
margin: 0.5%
}
/* Changing the line stroke thickness and color to blue
 So it is more visible for the Y value lines. */
path.ygrid.crisp{

stroke:lightblue !important;
stroke-width: 5px important

}